@import url('https://fonts.googleapis.com/css2?family=Barlow&display=swap');

:root {
    --text: #141B2B;
    --tausta: #dde8ff;
}

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Barlow', sans-serif;
    background-color: var(--tausta);
    color: var(--text)
}

h1 {
    text-align: center;
}

.header {
    text-align: center;
    outline: auto;
    line-height: 60px;
}

h2, h3 {
    text-align: center;
    
}

li, p {
    padding: 5px;
    margin-left: 50px;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto;
    gap: 5px;
    background-color: #dde8ff;
    padding: 10px;
  }
  
  .grid-container > div {
    background-color: rgba(255, 255, 255, 0.8);
    border: 1px solid black;
    text-align: center;
    font-size: 20px;
  }

button {
    background-color: #17ffaa; /* Green */
    border: inset;
    color: rgb(0, 0, 0);
    padding: 10px 20px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    transition-duration: 0.4s;
}

button:hover {
    background-color: #04AA6D; /* Green */
    color: white;
  }